#CompareSheep li {
    &.real-and-database {
        background-color: rgb(152, 239, 152);
    }
    
    &.real-not-database {
        background-color: rgb(155, 196, 238);
    }
    
    &.database-not-real {
        background-color: rgb(236, 169, 150);
    
    }
}

main:has(#CompareSheep:not(.hidden)) {
    display: block;
}

section:last-child {
    padding: 2rem;
    display: grid;
    gap: 1rem;
    align-items: baseline;
    grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
}
