@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans@1&display=swap');

*,
*::after,
*::before {
	box-sizing: border-box;
}

:root {
	--bg: rgb(217, 250, 250);
	--bg2: #ace3f3;
}

body {
	margin: 0.5rem;
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 26px;
	background-color: var(--bg);
}

.hidden {
	display: none;
}
